{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "plugin:react/recommended",
        "airbnb"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "react-hooks"
    ],
    "ignorePatterns": ["*.test.js"],
    "rules": {
        //"linebreak-style": ["error", "windows"],
        "indent": ["error", 4, {
            "ignoredNodes": ["JSXAttribute", "JSXSpreadAttribute"]
        }],
        "react/jsx-indent": [2, 4, {
            "indentLogicalExpressions": true
        }],
        "react/jsx-indent-props": [2, 4],
        "import/no-unresolved": [
            0,
            {
                "caseSensitive": false
            }
        ],
        "import/prefer-default-export": 0,
        "react/jsx-props-no-spreading": 0,
        "react/require-default-props": 0,
        "react/forbid-prop-types": 0,
        "no-nested-ternary": "off",
        "no-unneeded-ternary": 2,
        "no-use-before-define": 0
    }
}